.recent-case {
    background-image: url("../img/case/round.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  padding: 93px 0 91px;
  @include d-flex(flex, center, center);
width: 100%;
  .max-width {
    @include d-flex(flex, space-between, center);
    flex-direction: column;
    .case-cards {
        margin: 90px 0 118px;
        @include d-flex(flex, space-between, center);
        gap: 70px;
        max-width: 1070px;
        width: 100%;
        flex-wrap: wrap;
        .case-card {
          max-width: 310px;
          width: 100%;
          border-radius: 30px;
          position: relative;
        overflow: hidden;
        cursor: pointer;
          img {
            width: 100%;
          }
          .texts {
            color: $white;
            position: absolute;
            bottom: 24px;
            left: 16px;
            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
            }
            p {
                color: $white;
    
              max-width: 269px;
              width: 100%;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
            }
          }
        }
      }
  }
}
