body {
  font-family: $montserrat;
  overflow: hidden; //   for  decoration 
}
.button {
  @include button;
}
.button:hover {
  background-color: $dark;
  transition: 0.6s linear;
}
h1 {
  font-size: $h1;
  color: $dark;
  font-weight: 700;
  line-height: 64px;
}
.active {
  color: $yellow;
  font-weight: 700;
  padding-bottom: 4px;
}
.active::after {
  content: " ";
  display: block;
  width: 24px;
  height: 1px;
  border-radius: 20px;
  background: #333333;
  position: relative;
  top: 6px;
  left: 50%;
  transform: translate(-50%, -50%);
}

// header
.header {
  background-color: $gray;
  padding: 0 80px;
  @include d-flex(flex, space-between, center);

  .logo {
    height: 100px;
    width: 393px;
    border-radius: 0 0 20px 20px;
    background-color: $white;
    @include d-flex(flex, center, center);
    cursor: pointer;
    font-size: $h2;
    font-weight: 900;
    color: $yellow;
  }
  nav {
    display: flex;
    gap: 40px;
    .nav-item {
      font-size: $h5;
      color: #333333;
    }
    ul {
      @include d-flex(flex, space-between, center);
      gap: 40px;
      a {
        cursor: pointer;
      }
    }
  }
}

// first-section
.first-section {
  background-color: $gray;
  padding: 0 139px 0 96px;
  @include d-flex(flex, space-between, center);
  height: 632px;
  position: relative;
  div {
    width: 600px;
    .subtitle {
      margin-top: 20px;
      font-size: 42px;
      font-weight: 400;
      line-height: 55px;
      span {
        color: $yellow;
        font-weight: 700;
      }
    }
    .button {
      margin-top: 40px;
    }
  }
  img {
    max-width: 591px;
    width: 100%;
    margin-top: 18px;
  }
  .arrow {
    background-color: $white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    @include d-flex(flex, center, center);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    ion-icon {
      color: $yellow;
      font-size: 24px;
    }
  }
  .arrow:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
}
.first-section::after {
    content: " ";
    display: block;
    width: 107px;
    height: 107px;
    border-radius: 10px;
    border: solid 11px $dark;
    background: #ffffff00;
    position: absolute;
    top: 31px;
    right: -42px;
}
.first-section::before {
    content: " ";
    display: block;
    width: 163px;
    height: 163px;
    border-radius: 10px;
    border: solid 11px $dark;
    background: #ffffff00;
    position: absolute;
    bottom: -82px;
    left: -82px;
}
