// font
$montserrat: "Montserrat", sans-serif;

// font size
$h1: 52px;
$h2: 32px;
$h3:24px;
$h4: 18px;
$h5: 16px;
$h6: 14px;

$para1: 20px;
$para2: 18px;
$para3: 16px;
$para4: 14px;

// colors
$black: #000000;
$dark: #14213D;
$yellow: #FCA311;
$gray: #E5E5E5;
$white:  #FFFFFF;
